name: Run tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1.5.0
    - name: Update Flutter
      run: flutter upgrade
    
    - name: Install Dependencies
      run: flutter packages get
    
    - name: Run tests
      run: flutter test
